/*
 * Base structure
 */

/* CSS used here will be applied after bootstrap.css */
.panel-heading-sm{
    height: 28px;
    padding: 4px 10px;
}

.panel-body-sm{
   padding: 5px 10px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  height: 55px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.navbar-item-lista {
  width: 350px;
  top: 54px;
  border: 2px solid black;
  width: 400px;
}

.navbar-item-lista li a div {
  white-space: normal;
}

.fa-arrow-up {
  color: green;
}

.fa-arrow-down {
  color: red;
}

.sub-menu {
  background-color: #EAEAEA;
  padding-left: 20px;
}

/* Ordered tables */
/*
table.tablesorter {
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  padding: 4px;
  padding-left: 5px;
}
table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  padding: 6px 0px 6px 10px;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
*/
/* END Ordered tables */

textarea {
  resize: none;
}

#imagenUsuario {
  border: solid 2px black;
  border-radius: 60px;
}

#nombreUsuario {
  font-size: 150%;
}

#logoEmpresa {
  font-size: 180%;
  font-family: 'Pacifico', cursive;
}

#modalFeedback .modal-content{
  background-color: #BDFF80;
}

#modalFeedback .modal-body {
  margin: 6px 6px 6px 6px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #DDFFC4;
}

#modalFeedbackError .modal-content{
  background-color: #F02E3A;
}

#modalFeedbackError .modal-body {
  margin: 6px 6px 6px 6px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F79097;
}

.sliderInfoProyecto {
  background-color: red;
}

.containerSlider {
  padding-top: 12px;
}

.valorSlider {
  border:0;
  color:black;
  font-weight:bold;
}

#fechaUpdate {
  z-index: 2;
}

.sliderZindex {
  z-index: 1;
}

.info-proyecto-panel {
  margin-left: -20px;
  padding: 0 20px;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.feed-back-modal {
  position: absolute;
  top: 50vh;
}

.info-project-title {
  margin-top: 10px;
  text-align: center;
  transition: all 1.3s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
}

h3.info-project-title.is-in {
  transform: translateY(0px);
  opacity: 1;
}

.centrar-pull-right {
  margin-top: -5px;
}

div.info-proyecto-panel button {
  margin-left: 100px;
}

.info-panel {
  white-space: normal;
}